# -------------------------
# Virtual environments
# -------------------------
venv/
.venv/
*/venv/
*/.venv/

# Specifically ignore service venvs
authentication-service/venv/
manager-service/venv/
ui-service/venv/

# -------------------------
# Auth/UI token files
# -------------------------
.auth_token
*/.auth_token
authentication-service/.auth_token
ui-service/.auth_token

# -------------------------
# Python cache files
# -------------------------
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Environment files
# -------------------------
.env
*/.env
authentication-service/.env
manager-service/.env
ui-service/.env
